/* COMMON */
img{
    width: 100%;
}

.box{
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}

/* NAV */

.nav-top{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-top img{
    padding-right: .5rem;
    height: 30px;
}
/* BANNER */

#banner-2 .ms_banner-2-bg{
    background-image: url("/img/it-takes-two-hero-banner-desktop.jpg");
}

/* GAME-CARD-2 */
#game-card-2{
    background-color: #1F1F1F;
    color: white;
}